.single-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background */
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjusted width */
    max-width: 800px; /* Added max-width */
   margin-top: 30%;
}

.image-box img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
}

.details-box {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.rating-box {
    margin-bottom: 20px;
}

.rating-box label {
    margin-right: 10px;
}

.steps-box {
    margin-bottom: 20px;
    text-align: left; /* Align step descriptions to the left */
}

.steps-box h3 {
    margin-bottom: 10px;
}

.steps-box ul {
    list-style: none;
    padding: 0;
}

.steps-box ul li {
    margin-bottom: 5px;
}

.button-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-box .update-button,
.button-box .delete-button {
    padding: 10px 20px;
    margin: 0 10px; /* Added margin between buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-box .update-button {
    background-color: #28a745; /* Green color for update button */
    color: white;
}

.button-box .update-button:hover {
    background-color: #218838;
}

.button-box .delete-button {
    background-color: #dc3545; /* Red color for delete button */
    color: white;
}

.button-box .delete-button:hover {
    background-color: #c82333;
}
